div#autodestruir{
    margin-top: 27%;
    margin-left: 27%;
    position: absolute;
}

.msg{
    max-width: 550px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
}
.msg:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.msg* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}